<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="https://thelandmarkaz-my.sharepoint.com/:x:/g/personal/fayad_mammadov_thelandmark_az/ESva6xP-GUNEvOUwlMWCnIABhEgPJdmS6fkJcf3vo0KzAQ?e=ql7qoG">Free dicks here</a> 
    <br><br>11
    <a href="https://www.figma.com/team_invite/redeem/0tIWRDvgvQCm66ZhUzdKf8">Figma link</a>
    <br><br>
    <a href="https://codepen.io/TurkAysenur/pen/ZEpxeYm">CodePen CreativE</a>
    <br><br>
    <a href="https://fayadanddragon.atlassian.net/jira/projects?selectedProjectType=software"> Jira Link </a>
</body>
</html>