<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <title>Input</title>
</head>
<body>
    <div class='header'>
        <h1>Tenant Operations</h1>
    </div>
    <div class="maincontent">
        <div class='navigation'>
            <a class= href="/index">Index Page</a>
        </div>
        <form class='form'>
            <div class='control_group'>
                <div class="label">
                    <label for="tenant_name">Company</label>
                </div>
                <div class='input'>
                    <input type="text" id="tenant_name" name="legal_name">
                </div>
                <div class="label">
                    <label for="legal_name">Company Legal Name</label>
                </div>
                <div class='input'>
                    <input type="text" id="legal_name" name="legal_name">
                </div>
                <div class="label">
                    <label for="invoice_name">Company Name for Invoice</label>
                </div>
                <div class='input'>
                    <input type="text" id="invoice_name" name="invoice_name">
                </div>
                <div class="label">
                    <label for="tin">TAX ID</label>
                </div>
                <div class='input'>
                    <input type="text" id="tin" name="tin">
                </div>
            </div>
            <div class='control_group'>
                <div class="label">
                    <label for="phone_num">Phone Number</label>
                </div>
                <div class='input'>
                    <input type="tel" id="phone_num" name="phone_num">
                </div>
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <div class='input'>
                    <input type="email" id="email" name="email">
                </div>
                <div class="label">
                    <label for="contact_person">Contact Person</label>
                </div>
                <div class='input'>
                    <input type="text" id="contact_person" name="contact_person">
                </div>
            </div>
            <div class='control_group'>
                <div class="label">
                    <label for="datefrom">Start</label> 
                </div>
                <div class='input'>
                    <input type="date" id="datefrom" name="datefrom"><br>
                </div>
                <div class="label">
                    <label for="dateto">Expire</label>
                </div>
                <div class='input'>
                    <input type="date" id="dateto" name="dateto"><br>
                </div>
                <div class="label">
                    <label for="area">Area m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="text" id="area" name="area"><br>
                </div>
                <div class="input">
                    <input class="btn primary" type="submit" value="Add"> 
                </div>
            </div>  
        </form>
    </div>
</body>
</html>