<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <title>Input</title>
</head>

<body>
    <div class='header'>
        <h1>Tenant Operations</h1>
    </div>
    <div class="maincontent">
        <div class='navigation'>
            <a class="nav_link" href="/input">Create Tenant</a>
        </div>
        <form class='form'>
            <div class='control_group'>
                <div class="label">
                    <label for="tenant_name">Company</label>
                </div>
                <div class='input'>
                    <input type="text" id="tenant_name" name="legal_name">
                </div>
                <div class="label">
                    <label for="legal_name">Company Legal Name</label>
                </div>
                <div class='input'>
                    <input type="text" id="legal_name" name="legal_name">
                </div>
                <div class="label">
                    <label for="invoice_name">Company Name for Invoice</label>
                </div>
                <div class='input'>
                    <input type="text" id="invoice_name" name="invoice_name">
                </div>
                <div class="label">
                    <label for="tin">TAX ID</label>
                </div>
                <div class='input'>
                    <input type="text" id="tin" name="tin">
                </div>
            </div>
            <div class='control_group'>
                <div class="label">
                    <label for="phone_num">Phone Number</label>
                </div>
                <div class='input'>
                    <input type="tel" id="phone_num" name="phone_num">
                </div>
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <div class='input'>
                    <input type="email" id="email" name="email">
                </div>
                <div class="label">
                    <label for="contact_person">Contact Person</label>
                </div>
                <div class='input'>
                    <input type="text" id="contact_person" name="contact_person">
                </div>
            </div>
            <div class='control_group'>
                <div class="label">
                    <label for="concract_number">Concract number</label>
                </div>
                <div class="input">
                    <input type="text" id="concract_number" name="concract_number">
                </div>
                <div class="label">
                    <label for="datefrom">Start</label>
                </div>
                <div class='input'>
                    <input type="date" id="datefrom" name="datefrom">
                </div>
                <div class="label">
                    <label for="dateto">Expire</label>
                </div>
                <div class='input'>
                    <input type="date" id="dateto" name="dateto">
                </div>
                <div class="label">
                    <label for="vat_payer">VAT Payer</label>
                </div>
                <div class='control_group radio horizontal'>
                    <div class='input'>
                        <div class='control'>
                            <input id='vat_payer_yes' name='vat_payer_radio' type='radio'>
                            <label for='vat_payer_yes'>Yes</label>
                        </div>
                        <div class='control'>
                            <input id='vat_payer_no' name='vat_payer_radio' type='radio'>
                            <label for='vat_payer_no'>No</label>
                        </div>
                    </div>
                </div>
                <div class="label">
                    <label for="payment_term">Payment Term</label>
                </div>
                <div class='input'>
                    <input type="text" id='payment_term' name='payment_term'>
                </div>
                <div class="label">
                    <label for="currency">Currency</label>
                </div>
                <div class='control_group radio horizontal'>
                    <div class='input'>
                        <div class='control'>
                            <input id='currency_azn' name='currency' type='radio' value="AZN">
                            <label for='currency_azn'>AZN</label>
                        </div>
                        <div class='control'>
                            <input id='currency_usd' name='currency' type='radio' value="USD" checked>
                            <label for='currency_usd'>USD</label>
                        </div>
                        <div class='control'>
                            <input id='currency_eur' name='currency' type='radio' value="EUR">
                            <label for='currency_eur'>EUR</label>
                        </div>
                        <div class='control'>
                            <input id='currency_chf' name='currency' type='radio' value="CHF">
                            <label for='currency_chf'>CHF</label>
                        </div>
                    </div>
                </div>             
            </div>
            <div class='control_group'>
                <div class="label">
                    <label for="building">Building</label>
                </div>
                <div class='input'>
                    <input type="number" id="building" name="building"><br>
                </div>
                <div class="label">
                    <label for="floor">Floor</label>
                </div>
                <div class='input'>
                    <input type="number" id="floor" name="floor"><br>
                </div>
                <div class="label">
                    <label for="usable_rent_area">Usable Area m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="usable_rent_area" name="usable_rent_area"><br>
                </div>
                <div class="label">
                    <label for="total_rentable_area">Rentable Area m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="total_rentable_area" name="total_rentable_area"><br>
                </div>
             
                <div class="label">
                    <label for="rent_per_sqm">Rent/m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="rent_per_sqm" name="rent_per_sqm"><br>
                </div>
                <div class="label">
                    <label for="rent_amount">Rent amount</label>
                </div>
                <div class='input'>
                    <input type="number" id="rent_amount" name="rent_amount"><br>
                </div>
                <div class="label">
                    <label for="storage_area">Storage Area m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="storage_area" name="storage_area"><br>
                </div>      
                <div class="label">
                    <label for="storage_rate">Storage/m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="storage_rate" name="storage_rate"><br>
                </div>      
                <div class="label">
                    <label for="storage_amount">Storage amount</label>
                </div>
                <div class='input'>
                    <input type="number" id="storage_amount" name="storage_amount"><br>
                </div>
                <div class="label">
                    <label for="parking_lot_quantity">Parking slots</label>
                </div>
                <div class='input'>
                    <input type="number" id="parking_lot_quantity" name="parking_lot_quantity"><br>
                </div>      
                <div class="label">
                    <label for="parking_lot_rate">Parking rate</label>
                </div>
                <div class='input'>
                    <input type="number" id="parking_lot_rate" name="parking_lot_rate"><br>
                </div>      
                <div class="label">
                    <label for="total_parking_amount">Total Parking amount</label>
                </div>
                <div class='input'>
                    <input type="number" id="total_parking_amount" name="total_parking_amount"><br>
                </div>
                <div class="label">
                    <label for="furniture_rate">Furniture/m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="furniture_rate" name="furniture_rate"><br>
                </div>      
                <div class="label">
                    <label for="furniture_amount">Furniture amount</label>
                </div>
                <div class='input'>
                    <input type="number" id="furniture_amount" name="furniture_amount"><br>
                </div>
                <div class="label">
                    <label for="service_fee_per_sqm">Service/m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="service_fee_per_sqm" name="service_fee_per_sqm"><br>
                </div>      
                <div class="label">
                    <label for="service_amount">Service amount</label>
                </div>
                <div class='input'>
                    <input type="number" id="service_amount" name="service_amount"><br>
                </div>
                
                <div class="label">
                    <label for="cleaning_rate">Cleaning/m<sup>2</sup></label>
                </div>
                <div class='input'>
                    <input type="number" id="cleaning_rate" name="cleaning_rate"><br>
                </div>      
                <div class="label">
                    <label for="cleaning_amount">Cleaning amount</label>
                </div>
                <div class='input'>
                    <input type="number" id="cleaning_amount" name="cleaning_amount"><br>
                </div>
                <div class="label">
                    <label for="internet_service">Internet Fee</label>
                </div>
                <div class='input'>
                    <input type="number" id="internet_service" name="internet_service"><br>
                </div>
                <div class="label">
                    <label for="telephone_service">Telephone Fee</label>
                </div>
                <div class='input'>
                    <input type="number" id="telephone_service" name="telephone_service"><br>
                </div>
                <div class="label">
                    <label for="comments">Comments</label>
                </div>
                <div class='input'>
                    <textarea id="comments" name="comments" rows="4" cols="50" placeholder="Comments..."></textarea><br>
                </div>
            </div>
            
            <div class="control_group">
                <div class="input">
                    <input class="btn primary" type="submit" value="Add">
                </div>
            </div>

        </form>
    </div>
</body>

</html>