<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <div>
        <form>
            <label for="company">company</label>
            <input type="text" id="company" name="company"><br>
            <label for="datefrom">Start&nbsp;&nbsp;&nbsp;</label> 
            <input type="date" id="datefrom" name="datefrom"><br>
            <label for="dateto">Expire</label>
            <input type="date" id="dateto" name="dateto"><br>
            <label for="area">Area m<sup>2</sup></label>
            <input type="number" id="area" name="area"><br>
          </form>
    </div>
</body>
</html>